{% extends 'base.html' %}


{% block content %}
  <div class="d-flex justify-content-center">
    <h1>자유게시판</h1>
  </div>
  <a href="{% url 'articles:new' %}">잡담하기</a>
  <hr>
  {% for article in articles %}
    <p>작성자 : {{article.title}}</p>
    <p>내용 : {{article.content}}</p>
    <a href="{% url 'articles:detail' article.id%}">[detail]</a><br>
    <a href="{% url 'articles:edit' article.id%}">EDIT</a><br>
    <a href="{% url 'articles:delete' article.id %}" class="btn btn-warning">Delete</a>
    <hr>
  {% endfor %}

{% endblock content %}

